@import "./base/variables.styl"
@import "./vendor-overrides/vf-drawer.styl"
@import "./layout/side-nav.styl"

.card {
    margin-bottom 1rem
}

header {
    background url("../../assets/main-header.svg") no-repeat
    background-size cover
    min-height 200px
    margin -80px -40px 0 -40px
}

