.side-nav
    height 100vh
    background $dark-purple
    border-left 5px $pink solid

    a
        text-decoration none

    .list__tile__title
        font-size 14px

    .list__tile__action
        min-width 42px

    .list .icon
        font-size 10px

    .toolbar
        background linear-gradient(to right, $dark-purple, $pink)
        position relative

        &:after
            background-image url("../../assets/nav-bg.png")
            background-size 100% 100%
            content ""
            opacity: 0.75
            top 0
            left 0
            bottom 0
            right 0
            position absolute
            z-index -1

        .logo
            animation: fadein 1s;
            width 100px
            margin 0 auto

        .toolbar__content button
            margin-left 1.5rem
            position absolute
            color white

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}