// vendor override
.navigation-drawer
    .ripple__container
        opacity 0.5

    .toolbar__content > :not(.btn):not(.menu):last-child:not(:only-child)
        margin-right auto

    .list
        padding 0

        a, .icon
            color rgba($light-purple, 0.35)

            &:hover
                color: $light-purple
                linear-gradient(to right, rgba($dark-purple, 0.5), rgba($pink, 0.25))

    .list .router-link-exact-active .list__tile, .list .router-link-exact-active
        color white
        background linear-gradient(to right, rgba($dark-purple, 0.25), rgba($pink, 0.25))

        .icon
            color $light-purple

    .list .icon
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;

    .list__tile__title
        font-size 13px
        text-transform uppercase

    .list__tile__action
        min-width 45px

    .list .icon
        font-size 6px

    .toolbar
        background linear-gradient(to right, $dark-purple, $pink)
        position relative

        &:after
            background-image url("../../assets/nav-bg.png")
            background-size 100% 100%
            content ""
            opacity: 0.75
            top 0
            left 0
            bottom 0
            right 0
            position absolute
            z-index -1

        .toolbar__content button
            margin-left 1.5rem
            position absolute
            color white