<template>
    <v-app id="inspire">
        <v-navigation-drawer fixed v-model="drawer" app>
            <div class="side-nav">
                <v-toolbar>
                    <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
                    <img src="../../../assets/logo.png" class="logo" alt="visualbam logo">
                </v-toolbar>
                <v-list v-for="route in routes" :to="route.route">
                    <router-link :to="route.route">
                        <v-list-tile ripple @click="">
                            <v-list-tile-action>
                                <v-icon v-if="activeRoute === '/' + route.route">lens</v-icon>
                                <v-icon v-else>panorama_fish_eye</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>{{route.title}}</v-list-tile-title>
                        </v-list-tile>
                    </router-link>
                </v-list>
                <!--<v-list>-->
                    <!--<router-link v-for="route in routes" :to="route.route">-->
                        <!--<v-list-tile>-->
                            <!--<v-list-tile-action>-->
                                <!--<v-icon v-if="activeRoute === '/' + route.route">lens</v-icon>-->
                                <!--<v-icon v-else>panorama_fish_eye</v-icon>-->
                            <!--</v-list-tile-action>-->
                            <!--<v-list-tile-content>-->
                                <!--<v-list-tile-title>{{route.title}}</v-list-tile-title>-->
                            <!--</v-list-tile-content>-->
                        <!--</v-list-tile>-->
                    <!--</router-link>-->
                <!--</v-list>-->
            </div>
        </v-navigation-drawer>
        <v-content>
            <v-container fluid fill-height>
                <v-layout
                        justify-center
                        align-center>
                    <router-view></router-view>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script src="./app.ts"></script>
